.button {
  min-width: 7rem;
  min-height: 3rem;
}

.button,
.button-icon,
.icon-button,
.button-link,
.button-outline {
  padding: calc(0.875rem - 3px) 15px;
}
// TODO: small
.button,
.button-icon,
.icon-button,
.button-link,
.button-outline {
  font-family: var(--ss);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.29;
  position: relative;
  display: inline-flex;

  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  text-align: left;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    filter: brightness(110%);
  }
}
.button-icon {
  & svg {
    margin-left: 0.65rem;
  }
}
.button-icon,
.icon-button {
  &.button-icon--primary,
  &.button-icon--secondary,
  &.button-icon--danger {
    padding: calc(0.875rem - 3px) 15px;
    min-width: 7rem;
    min-height: 3rem;
    &.icon-button--primary {
      padding: 0.65rem;
    }
  }
}

.icon-button--small {
  padding: 7px;
}
