.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 1000px;
  width: 100%;
  flex: 1;
}

.footer {
  width: 100%;
}
