.header {
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  position: fixed;
  background-color: var(--opacity-5);
  ul {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 248px;
    animation: slide 0.1s forwards;
  }
}
.button {
  font-weight: 400;
  display: flex;
}
// FIXME: button size
// TODO: refatorar
.container ul li a {
  display: block;
  font-family: var(--ss);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.29;
  position: relative;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: calc(0.875rem - 3px) 15px;
  border-radius: 0;
  text-align: left;
  text-decoration: none;
}

.button,
.container ul li a {
  letter-spacing: 0.04rem;
  font-size: 0.75rem;
  width: 100%;
}
.none {
  display: none;
}

.button:focus,
.button:active,
.container ul li a:focus,
.container ul li a:active {
  background: var(--primary);
  color: var(--white);
  box-shadow: inset 0 0 0 1px var(--primary), inset 0 0 0 2px var(--white);
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
