.question {
  box-shadow: var(--shadow-1);
  margin-bottom: 2rem;

  .header {
    padding: 1rem;
    color: var(--dark-gray);
    margin-bottom: 0.2rem;
  }
  p {
    padding: 1rem 0.25rem;
  }
}

// admin add questions
.item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333;
  align-items: center;
  margin-bottom: 0.25rem;
  div {
    display: flex;
    align-items: center;
    span,
    p,
    input[type='radio'],
    label {
      padding: 10px;
    }
    span {
      font-size: 0.9rem;
      font-weight: 600;
      background: var(--primary);
      margin-right: 10px;
      min-width: 38px;
      text-align: center;
    }
  }
}
